.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.login_wrapper {
  width: 850px;
  height: 672px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background-color: var(--color-text3);
}

.login_grid {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  width: 95%;
  height: 95%;
  gap: 1rem;
}

.login_img {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l_image {
  background: url("https://raw.githubusercontent.com/manasamancharla/UberEats-React-Clone/main/uploads/farm.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 18px;
  border-bottom-left-radius: 18px;
  height: 100%;
  width: 100%;
}

.login_details {
  grid-column: 2/3;
}

.l_details_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l_details_div > h2 {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

.l_details_div > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.7rem 0;
}

.l_details_div > form > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0.5rem 0;
}

.l_details_div > form > input {
  display: block;
  width: 85%;
  height: 52px;
  font-size: 16px;
  border-bottom: 1px solid var(--color-variant2);
  margin: 0.8rem 0;
}

.l_details_div > form > input:focus {
  border-color: rgba(47, 0, 155, 0.9);
}

.login_btn {
  width: 85%;
  height: 52px;
  margin: 0.5rem 0;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: var(--color-secondary1);
  color: var(--color-text3);
  padding: 0.35rem 0.7rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_btn:hover {
  background: rgba(47, 0, 155, 0.9);
}

.login_btn_secondary {
  width: 85%;
  height: 52px;
  margin: 0.5rem 0;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: var(--color-text3);
  color: var(--color-text2);
  border: 1px solid var(--color-darktheme);
  padding: 0.35rem 0.7rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.login_btn_secondary:hover {
  background: rgba(153, 153, 160, 0.2);
}

.l_logo {
  font-size: 20px;
}

.l_or_container {
  display: flex;
  align-items: center;
  margin: 1.2rem 0;
  width: 85%;
}

.l_or_container::before,
.l_or_container::after {
  content: "";
  flex-grow: 1;
  border-top: 1px solid var(--color-variant2);
  height: 0;
  margin: 0 0.5rem;
}

.l_or-text {
  margin: 0 10px;
  font-size: 14px;
  font-weight: bold;
}

.l_details_div > form > small {
  font-size: 12px;
  color: var(--color-text1);
  margin: 1.2rem 0;
}

.l_details_div > form > small a {
  color: var(--color-accent2);
  text-decoration: none;
}

/** Temporary Media Queries **/

@media (max-width: 768px) {
  .login_grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login_img {
    display: none;
  }
}
