.temp {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 18% 82%;
}

.sidebar_container {
  height: 100%;
  width: 100%;
  grid-column: 1/2;
}

.main_content {
  grid-column: 2/3;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.gap_div {
  height: 100%;
  width: 100%;
  background-color: var(--color-text3);
  box-shadow: 1px 1px 3px var(--color-text1);
  border-radius: 16px;
}
