@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: 0;
}

:root {
  --color-darktheme: #121212;
  --color-lighttheme: #fffefc;

  --color-primary: #5a03e4;
  --color-secondary1: #2f009b;
  --color-accent1: #ef233c;
  --color-accent2: #3a86ff;
  --color-variant: #333;
  --color-variant2: #ccc;
  --color-variant3: #f5f5f5;

  --color-text1: #888;
  --color-text2: #000000;
  --color-text3: #ffffff;

  --transition: all 200ms ease-out;

  --container-width-lg: 80%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-variant3);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

/* ********* MEDIA QUERIES (MEDIUM DEVICES) ********* */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* ********* MEDIA QUERIES (SMALL DEVICES) ********* */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
